.active {
    display: flex;
}

.active-assignment-form {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 2;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: #fff;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    cursor: pointer;
}
